# Dependencias de Node
node_modules/

# Archivos de entorno
.env
.env.local

# Carpeta de producción de Vite
dist/

# Archivos de caché de Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS
.DS_Store

# Editor/IDE
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Otros
coverage/
*.log
